@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

body {
    background: #000000;/* Old browsers */            
    background: -webkit-linear-gradient(left, #000000, #706f6b, #000000);/* Chrome 10-25, Safari 5.1-6 */            
    background: linear-gradient(to right, #000000, #706f6b, #000000);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Oswald';
}

p {
    color: rgb(160, 160, 160);
    font-size: .5em;
    margin-top: .5rem;

}

.nav-link{
    color: rgb(160, 160, 160);
    font-size: .5em; 
    font-weight: 100; 
    text-transform: lowercase;  
}

.nav-link:hover {
    color: white;
}

